.card {
  border: 1px solid #ddd;
  padding: 20px;
}
.card img {
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #1831537c;
  background-color: transparent;
  color: #183153;
}
.btn:hover{
  cursor: pointer;
  background-color: #9dc6ff;
}
.btn:active{
  background-color: aliceblue;
}
.btn p{
  margin: 0;
  padding: 0;
}
.btn-icon{
  margin-left: 15px;
}
@media screen and(max-width: 828px) {
  .card-info h5 {
    font-size: 11px;
  }
}
